@page "/"
@page "/index.html"

<PageTitle>My First Project</PageTitle>
<HeadContent>
    <meta name="description" content="Setting up my first project" />
    <meta name="keywords" content="blazor, github pages" />
    <meta name="robots" content="index, follow" />
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.
